
<div class="jumbotron header-bg"> 
    {{!-- #fac126; --}}
    <h1>Eat-Da-Burger</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="header">Burgers to Eat</h2>
            {{#each burger}}
                {{#unless this.eaten}}
                    <form action="api/burgers/update/{{this.id}}?_method=PUT" method="PUT">
                        <div class="form-group">
                            <ul>
                                <li>
                                    <button type="submit" name="eaten" value="1" class="btn btn-yellow">{{burger_name}}</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-lg-4 text-center">
            <img class="mb-3" src="">
            <form action="/api/burgers/create" method="POST">
                <div class="form-group">
                    <input type="text" name="burger_name" class="form-control text-center" maxlength="50" placeholder="Enter Burger Name">
                    <button class="btn btn-red btn-block my-2" type="submit">Add Burger</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            <h2 class="header">Burgers Eaten</h2>
            {{#each burger}}
                {{#if this.eaten}}
                    <div>
                        <ul>
                            <li>
                                <button disabled class="btn btn-yellow">{{burger_name}}</button>
                            </li>
                        </ul>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
