.header-bg {
    background-color:#be3f31;
    color:white;
}
.header {
    color:#f67f72;
}
ul {
    list-style-type: none;    
}

.btn-yellow {
    margin-bottom: 15px;
    background-color:#fac126;
    color:white;
}

.btn-red {
    background-color:#be3f31;
    color:white;
}

.btn-green {
    background-color:#2dfa26;
    color:white;
}

.jumbotron {
    background-image: url("/assets/img/burger2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}
   